<div class="w-screen h-screen relative flex place-items-center justify-center overflow-hidden select-none">
    <div class="custom-gradient  h-[15rem] w-[15rem] rounded-full absolute top-[-7rem] right-[-7rem]"></div>
    <div class="custom-gradient  h-[20rem] w-[20rem] rounded-full absolute bottom-[-7rem] left-[-7rem]"></div>
    <div class="w-[20rem] flex flex-col place-items-center gap-5 font-sans pb-[5rem]">
        <img class="logo-anim w-[7rem]" src="../../../../assets/logo.svg" alt="logo">
        <div class=" text-[2rem] font-semibold pl-6">insta Notes</div>
        <div class="text-[1rem] pl-6 tracking-[4px]">YOUR POST PARADISE✨</div>
    </div>
</div>
