.mat-expansion-panel-header-title {
   color : #FF046E;
   font-weight: 600;
}

.mat-expansion-panel-header-description {
   color: black;
   font-size: 1rem;
}

.border-gradient {
   background-color: transparent;
   border: 2px solid;
   border-image: linear-gradient(to right, #FF046E, #0500F0) 1;
}

.button-gradient {
   transition: background 0.4s ease-in-out;
}

.button-gradient:hover {
   background: linear-gradient(to right, #FF046E, #0500F0);
   background-size: 200% 100%;
   background-position: right;
   color: white;
}

 ::-webkit-scrollbar {
   width: 8px; 
 }

 ::-webkit-scrollbar-track {
   background: white;
   border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb {
   background: linear-gradient(to bottom, #FF046E, #9804A4, #0500F0); 
   border-radius: 10px;
 }