<div class="h-full w-full px-3 py-5">
  <div class="font-josefin font-semibold text-center text-[20px] px-3 py-0">Add New Post</div>
  <form [formGroup]="postForm" class="p-8 pb-2">
    <mat-form-field class="block w-full">
      <mat-label>URL</mat-label>
      <input matInput placeholder="Paste the post url here" formControlName="url" />
    </mat-form-field>

    <mat-form-field class="block w-full">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title of the post" formControlName="title" />
    </mat-form-field>

    <mat-form-field class="block w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="tech">Tech</mat-option>
          <mat-option value="ai">AI</mat-option>
          <mat-option value="songs">Songs</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="block w-full">
      <mat-label>Keywords</mat-label>
      <input matInput placeholder="Keywords separate it by comma (,)" formControlName="keywords" />
    </mat-form-field>

    <mat-form-field class="block w-full">
      <mat-label>Notes</mat-label>
      <textarea matInput placeholder="Add more details about the post if any!" rows="4" cols="50" formControlName="notes"></textarea>
    </mat-form-field>
  </form>

  <div class="w-full flex justify-end gap-3 px-8">
    <button mat-flat-button color="primary">Submit</button>
    <button mat-stroked-button color="primary">Reset</button>
  </div>
</div>
