<div class="custom-gradient w-full h-full font-sans overflow-hidden">
    <div class="w-full h-[10%] flex place-items-center justify-between px-5">
        <img class="w-[1.2rem] cursor-pointer" (click)="goToWelcome()" src="../../../../../assets/back-arrow-white.svg" alt="back-btn">
        <div class="text-white text-[1rem] font-medium cursor-pointer" (click)="goToSignIn()">Sign in</div>
    </div>
    <div class="w-full h-[15%]">
        <div class="text-white font-semibold text-[1.8rem] px-5 py-3">Sign Up</div>
        <div class="text-[1.2rem] text-white px-5 py-3 leading-7">Ready to embark on your InstaNotes journey? </div>
    </div>
    <div class="bg-white w-full h-[75%] rounded-t-[2rem] px-8 py-12 flex flex-col gap-3 pt-6">
        <input type="text" placeholder="Username" class="px-7 py-5 text-[1rem] rounded-full font-semibold w-full border-none bg-[#EEEEEE] focus: outline-none">
        <input type="email" placeholder="Email Address" class="px-7 py-5 text-[1rem] rounded-full font-semibold w-full border-none bg-[#EEEEEE] focus: outline-none">
        <input type="password" placeholder="Password" class="px-7 py-5 text-[1rem] rounded-full focus:outline-none font-semibold w-full border-none bg-[#EEEEEE]">
        <button class="bg-black text-white text-[1rem] font-semibold w-full p-5 rounded-full cursor-pointer" (click)="goToEmailVerify()">Verify Email</button>
        <div class="cursor-pointer shadow-lg p-6 w-full text-[1rem] font-semibold rounded-full flex gap-2 place-items-center justify-between">
            <img src="../../../../../assets/Google.svg" alt="google">
            <div>Continue with Google</div>
            <img src="../../../../../assets/frwd-arrow-black.svg" alt="arrow-frwd">
        </div>
        <div class="cursor-pointer shadow-lg p-6 w-full text-[1rem] font-semibold rounded-full flex gap-2 place-items-center justify-between">
            <img src="../../../../../assets/facebook.svg" alt="fb">
            <div>Continue with Facebook</div>
            <img src="../../../../../assets/frwd-arrow-black.svg" alt="arrow-frwd">
        </div>
    </div>
</div>
