textarea {
    resize: none;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-start {
    background-color: white !important;
  }
  
  :host ::ng-deep mat-form-field .mat-form-field-outline-gap {
    background-color: white !important;
  }
  
  :host ::ng-deep mat-form-field .mat-form-field-outline-end {
    background-color: white !important;
  }